
/* 清除内外边距 */
* {
    margin: 0;
    padding: 0;
}
/* 去掉无序列表 li 前面的小圆点 */
li{
    list-style: none;
}
/* 去掉a标签下划线 */
a{
    text-decoration:none;
}

/* 双伪元素清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

/* header */
.header{
    height: 42px;
}

.wrapper{
    margin: 0 auto;
    width: 1200px;
}

.header .logo{
    float: left;
    margin-top: 30px;
}
.header .nav{
    float: left;
}
.nav ul{
    float: left;
    margin-left: 70px;
}
.nav li{
    float: left;
    margin-top: 42px;
    margin-right: 27px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 10px;
}
.nav li a{
    color: #050505;
}

.nav li:hover{
    border-bottom: #00a4ff solid 2px;
}

/* search */
.search{
    float: left;
    margin-top: 31px;
    margin-left: 70px;
    width: 412px;
    height: 40px;
}
.search input{
    float: left;
    padding-left: 15px;
    width: 345px;
    height: 39px;
    border: 1px solid #00a4ff;
    font-size: 14px;
    line-height: 31px
}
.search img{
    float: left;
}
/* user */
.user{
    float: left;
    margin-left: 31px;
    margin-top: 35px;
}
.user img{
    float: left;
}
.user span{
    float: left;
    margin-left: 6px;
    font-size: 14px;
    line-height: 30px;
}

/* type-nav */
.type-nav{
    margin-top: 60px;
    height: 421px;
    background-color: rgb(28 3 108);
}
.type-nav .left{
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0,0,0, 0.3);
}
.left li{
    margin-bottom: 25px;
    margin-left: 20px;
}
.left .first{
    margin-top: 28px;
}
.left .last{
    margin-bottom: 21px;
}
.left li a{
    font-size: 14px;
    color: #fff;
}
.left li a:hover {
    color: #00a4ff;
}
.left li span{
    display: inline-block;
    margin-left: 86px;
}
.wrapper .banner {
    height: 421px;
    background: url(images/轮播.png) no-repeat top center;
}
.type-nav .menu {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    margin-top: 50px;
}
.menu h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}
.submenu {
    padding: 0 20px;
}
.submenu ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}
.submenu ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}
.submenu ul li p {
    font-size: 12px;
    color: #a5a5a5;
}
.submenu .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}
/* text */
.text{
    margin-top: 8px;
    padding: 21px 0;
    height: 18px;
    border-bottom: 1px solid #ccc; /* 添加普通下边框 */
    box-shadow: 0 0 1px #ccc; /* 添加阴影 */
}
.text li{
    float: left;
    width: 130px;
    height: 18px;
    border-right: 1px solid rgb(191 191 191);
    text-align: center;
}
.text li a {
    color: black;
}
.text span{
    float: right;
    margin-right: 26px;
    color: rgb(0 164 255);
}
.text li a:hover{
    color: rgb(0 164 255);
}









